#sidebarFixo{
	position: fixed;
  	width: 30%;
  	overflow:hidden;
  	border:1px dashed #CCC;
  	padding:6px;
  	height: 100%;
  	display: inline-inline;
  	float: left;
  	background-color: #000000;
}

#conteudo{
  margin:0 auto;
  
  width:70%;
  height:100%;
  display: inline;
  float: right;
}

#logo-blog{
	
}
